{{define "mainNav"}}
<div class="logo">
    <!-- <img src="/static/images/logo.png"> -->
</div>
<div class="profile">
    <img src="/static/images/icon_profile.png">
    <div class="profile-desc">
        <p>Abdul Saqib<span><i class="fas fa-circle"></i>Admin</span></p>
    </div>
</div>
<nav role="navigation">
    <ul>
        <li class="active"><a href="/dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
        <li><a href="/invoices"><i class="fas fa-file-invoice-dollar"></i><span>Invoices</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/customers"><i class="fas fa-users"></i><span>Customers</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/users"><i class="fas fa-user-tie"></i><span>Users</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/products"><i class="fas fa-boxes"></i><span>Products</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/suppliers"><i class="fas fa-truck-loading"></i><span>Supplier</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/categories"><i class="fas fa-sitemap"></i><span>Category</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/quotations"><i class="fas fa-file-invoice"></i><span>Quotation</span><i class="fas fa-angle-left"></i></a></li>               
        <li><a href="/barcodes"><i class="fas fa-barcode"></i><span>Barcode</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/analytics"><i class="fas fa-chart-pie"></i><span>Analytics</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/reports"><i class="fas fa-chart-area"></i><span>Reports</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/settings/general"><i class="fas fa-cogs"></i><span>Settings</span><i class="fas fa-angle-left"></i></a></li>
        <li><a href="/documentation"><i class="fas fa-question-circle"></i><span>Help Center</span><i class="fas fa-angle-left"></i></a></li>
    </ul>
</nav>
<div class="network-manager">
    <div class="network">
        <a href="#"><img src="/static/images/facebook.png" class="media-link-md"></a>
        <a href="#"><img src="/static/images/twitter.png" class="media-link-md"></a>
        <a href="#"><img src="/static/images/linkedin.png" class="media-link-md"></a>
    </div>
</div>
{{end}}