{{define "bootstrap"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/css/style.css">
    <script src="../style/jquery.js"></script>
    <script src="../style/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style/css/font_awesome.css">
    <script src="../style/js.js"></script>
    <title>Analyzer - Dashboard</title>
</head>
<body>
<div class="container-fluid">
    <div class="sidebar-wrapper">
        {{template "mainNav" .}}
    </div>
    <div class="content">
        <div class="header-contents">
            <div class="shortcuts">
                {{template "topNav" .}}
            </div>
            <div class="page-title">
                <img src="images/dashboard.png">
                <div class="title">
                    <p>Dashboard<span>Home</span></p>
                </div>
            </div>
        </div>
        <div class="main">
            
        </div>
        <div class="footer-wrapper">
            {{template "footer" .}}
        </div>
    </div>
</div>
</body>
</html>
{{end}}