{{define "topNav"}}
<button class="btn btn-sm btn-link" onclick="resolve('/invoices')"><i class="fas fa-file-medical-alt"></i>Invoice</button>
<button class="btn btn-sm btn-link" onclick="resolve('/quotations')"><i class="fab fa-resolving"></i>Quotation</button>
<button class="btn btn-sm btn-link" onclick="resolve('/customers')"><i class="fas fa-file-invoice"></i>Customer</button>
<button class="btn btn-sm btn-link" onclick="resolve('/barcodes')"><i class="fas fa-cogs"></i>Barcode</button>
<a href="/login"><i class="fas fa-power-off logout"></i></a>
{{end}}
