{{define "topNav"}}
<button class="btn btn-sm btn-link" onclick="resolve('health_check.html')"><i class="fas fa-file-medical-alt"></i>Health Check</button>
<button class="btn btn-sm btn-link" onclick="resolve('resolution.html')"><i class="fab fa-resolving"></i>Resolutions</button>
<button class="btn btn-sm btn-link" onclick="resolve('decline_summary.html')"><i class="fas fa-file-invoice"></i>Decline Summary</button>
<button class="btn btn-sm btn-link" onclick="resolve('settings.html')"><i class="fas fa-cogs"></i>Settings</button>
<a href="login.html"><i class="fas fa-power-off logout"></i></a>
{{end}}
